@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    margin: 0;
    font-family: "Open Sans";
    box-sizing: border-box;
}

.App {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100vh;
}

.AppHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 2px solid #ccc;
    background-color: #62bcfa;
    color: #6534ff;
}

.AppTitle {
    display: flex;
    width: 25%;
    border-right: 2px solid #ccc;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px;
    color: #FFFFFF;
    background-color: #00b894;
}

.AppRoom {
    display: flex;
    width: 75%;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px;
    color: #FFFFFF;
}

.AppBody {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.MessageWrapper {
    display: flex;
    flex-direction: column;
    width: 75%;
    flex: 1;
}