.MessageForm {
    display: flex;
    flex-direction: row;
}

.MessageInput {
    flex: 1;
    padding: 20px;
    border: 0;
    border-top: 2px solid #ccc;
}

::placeholder {
    color: #62bcfa;
    font-style: italic;
}

