.UserForm {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.UserInput {
    padding: 35px;
    font-size: 2em;
    border: 5px solid #fccdd3;
    width: 550px;
    border-radius: 5px;
}

input:focus {
    outline: none;
}

::placeholder, input {
    color: #62bcfa;
}

::placeholder {
    font-style: italic;
}